.dark_mode {
  /* margin-top: -20px;
    margin-left: 10px; */
  display: flex;
  justify-content: center;
}

.dark_mode_label {
  width: 45px;
  height: 45px;
  position: relative;
  display: block;
  background: #ebebeb;
  border-radius: 200px;
  /* box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4); */
  cursor: pointer;
  transition: 0.3s;
  border: 2px solid rgba(0, 0, 0, 0.4);
}
.dark_mode_label:after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input:checked + .dark_mode_label {
  background: #0516cbb0;
}
.dark_mode_input:checked + .dark_mode_label:after {
  /* left: 62px; */
  transform: rotateZ(180deg) translate(50%,50%);
  background: linear-gradient(360deg,#222137, #3a3a3a36);
}
.dark_mode_label:active:after {
  width: 30px;
}

.dark_mode_label svg {
  position: absolute;
  width: 35px;
  top: 3px;
  z-index: 100;
}
.dark_mode_label svg.sun {
  left: 4px;
  fill: #fff;
  transition: 0.7s;
}
.dark_mode_label svg.moon {
  left: 5px;
  fill: #4c7bc300;
  transition: 0.7s;
}
.dark_mode_input:checked + .dark_mode_label svg.sun {
  fill: #fff9f900;
}
.dark_mode_input:checked + .dark_mode_label svg.moon {
  fill: #f0f3ff;
}

@media screen and (max-width: 490px) {
    .dark_mode{
        font-size: 12px;
        line-height: 8px;
        margin: 10px;
    }

    /* .gpt3__header-content p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__input input,
    .gpt3__header-content__input button {
        font-size: 12px;
        line-height: 16px;
    } */
}