.forgot_body {
  color: white;
  text-align: center;
}

.forgot_head {
  font-size: 30px;
  font-weight: bold;
}

.boxes_otp {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
}

.input_otp {
  width: 15%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.forgot_btn {
  margin: 5px;
  /* height: 50px; */
}

.timer {
  margin: 20px 0px -10px;
}

.forgot_resend {
  background: none;
  color: rgba(255, 255, 255, 0.507);
  text-decoration: none;
}

.forgot_resend:hover {
  color: white;
}

.email-form{
  margin-top: 10%;
}
