@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  background-color: #455A64;
}

.form-container {
  margin: 6% 0 0 45%;
  background: #FAFAFA;
  padding-top: 8%;
  padding-bottom: 2%;
  border-radius: 5% 0 0 5%;
}

.form-container h2 {
  text-align: center;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 70px;
  color: #274D5F;
}

.form-group {
  margin-bottom: 20px;
  font-weight: 500;
}

.form-group label {
  display: block;
  font-family: "Poppins";
  line-height: 10%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 180px;
  color: #ccc;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: none;
}

.form-control {
  outline: none;
  background-color: transparent;
}


.form-group textarea {
  height: 80px;
}

.top-line {
  opacity: 100%;
  width: 30%;
  border: 5px solid #7E3329;
  border-radius: 50px;
  margin-left: 35%;
}

button {
  width: 40%;
  color: #ccc;
  border: none;
  border-radius: 12px;
  background-color:#000000;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.3rem;
  opacity:1;
  cursor: pointer;  
  padding: 12px 12px;
  margin-left: 30%;
}
  