
.form-container {
  width: 500px;
  margin: 13% auto;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  background: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: larger;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 80px;
}

.form-group button {
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

  