<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Contact Us</title>
  <style>
    /* CSS code here */
  </style>
</head>
<body>
  <div class="container">
    <h1 align="center" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color:#fff; font-size: 38px;">Contact Us</h1>
    <form action="login.php" method="POST">
      <div class="form-group">
        <label for="name" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your full name" required>
      </div>
      <div class="form-group">
        <label for="email" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">E-mail:</label>
        <input type="text" id="email" name="email" placeholder="name@example.com" required>
      </div>
      <div class="form-group">
        <label for="message" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Message:</label>
        <textarea placeholder="Type your message here" id="msg" style="height: 100px; font-size: 14px;"></textarea>
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</body>
</html>
