
.form-container {
  width: 500px;
  margin: 13% auto;
  padding: 30px;
  border: 2px solid #333;
  border-radius: 10px;
  background:url("pexels-pixabay-326333\ \(2\).jpg");
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:#FFC300;
}

.form-container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  
}

.form-group {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: larger;
  
}

.form-group label {
  display: block;
  margin-bottom: 10px;
 
}

hr{
  border:2px solid white;
  opacity:1;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 80px;
  
}

.form-group input.inputError
{
  border: 2px solid #ee334b;
}
.form-group input.successError
{
  border: 2px solid rgb(37, 218, 37);
}
.form-group textarea.inputError
{
  border: 2px solid #ee334b;
}
.form-group textarea.successError
{
  border: 2px solid rgb(37, 218, 37);
}
button {
  
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 12px;
background-color:#8B4513;
  font-size: 1.3rem;
  font-weight: 800;
  opacity:1;
  cursor: pointer;  
  padding: 12px 12px;
}
button:hover{
  background-color:	#D27D2D;
  color:black;
  transform:scale(1.1);
  transition:0.5s;
}
  
@media only screen and (max-width: 512px) {
  .form-container{
    width: 90vw;
  }
}