body {
  background-color: #455A64;
}

.form-container {
  margin: 20% 5% 20% 50%;
  width: 45%;
  background: #ffffff;
}

.form-container h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: larger;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  height: 80px;
}

button {
  width: 100%;
  color: #fff;
  border: none;
  border-radius: 12px;
  background-color:#0ed381;
  font-size: 1.3rem;
  font-weight: 800;
  opacity:1;
  cursor: pointer;  
  padding: 12px 12px;
}
  