* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Encode Sans Expanded',
    sans-serif;
}

.dark-theme{
    --bg-clr : black;
    --text-clr : white;
    transition: all 0.3s ease-in-out;
}

.light-theme{
    --bg-clr : white;
    --text-clr : black;
    transition: all 0.3s ease-in-out;

}