@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Orbitron:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/* body,html{
  overflow-x: hidden;
 }  */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: orange;
  border-radius: 10px;
  opacity: 0.5;
}

.dark-theme {
  --bg-clr: black;
  --text-clr: white;
  transition: all 0.3s ease-in-out;
}

.light-theme {
  --bg-clr: white;
  --text-clr: black;
  transition: all 0.3s ease-in-out;
}

.error-404-img {
  width: 100%;
  margin-top: 2rem;
}
@media only screen and (max-width: 560px) {
  .error-404-img {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
}

.Effect :hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
