@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body,html{
  overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange; 
  }
.dark-theme{
    --bg-clr : black;
    --text-clr : white;
    transition: all 0.3s ease-in-out;
}

.light-theme{
    --bg-clr : white;
    --text-clr : black;
    transition: all 0.3s ease-in-out;
}

.error-404-img{
    width: 100%;
    margin-top:2rem ;
}
@media only screen and (max-width: 560px) {
    .error-404-img{
        margin-top: 5rem;
        margin-bottom: 2rem;
    }

}
