@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* @media only screen and (max-width: 1166px) {
  #root {
    width: 100%;
    overflow: hidden;
  }
} */
/* @media only screen and (max-width: 1230px){

  #root{
    width: 1212px;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 1012px){

  #root{
    width: 1036px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 970px){

  #root{
    width: 963px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 900px){

  #root{
    width: 939px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 600px){

  #root{
    width: 923px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 500px){

  #root{
    width: 915px;
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 350px){

  #root{
    width: 830px;
    @media only screen and (max-width: 430px){

      #root{
        width: 907px;
        overflow-x: hidden;
      }
    }
    overflow-x: hidden;
  }
} */
