/* CosultationForm */
.appointment-section {
    padding: 50px 0;
    background-color: #fff;
  }
  
  .appointment-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .section-heading {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    display: inline-block;
    background-color: #ff5722;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #e64a19;
  }